<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Create New Event"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  [nzFooter]="footer">

  <ng-container *nzModalContent>
    
    <div class="form-group">
      <label>Title</label>
      <input nz-input [(ngModel)]="newEvent.title" />
    </div>

    <div class="form-group select-content">
      <label class="choicetype">Platforms:</label>

      <div class="checkbox-group">
        <label nz-checkbox [(ngModel)]="newEvent.fb_post">
          Facebook post
        </label>

        <label nz-checkbox [(ngModel)]="newEvent.fb_event">
          Facebook event
        </label>

        <label nz-checkbox [(ngModel)]="newEvent.ig_post">
          Instagram post
        </label>

        <label nz-checkbox [(ngModel)]="newEvent.ig_story">
          Instagram story
        </label>

        <!-- FIX IN BACKEND -->
        <label nz-checkbox [(ngModel)]="newEvent.discord_post">
          Discord
        </label>

        <!--
        <label nz-checkbox [(ngModel)]="newEvent.webpage">
          Web page
        </label>
        -->
      </div>
    </div>

    <div class="form-group">
      <label >Other platforms:</label>
      <input nz-input [(ngModel)]="newEvent.other_media" />
    </div>

    <div class="form-group select-content">
      <label class="choicetype">Date of the post</label>
      <nz-date-picker [(ngModel)]="newEvent.post_date" class="select"></nz-date-picker>
    </div>


    <div class="form-group select-content">
      <label class="choicetype">Date of the post</label>
      <nz-date-picker [(ngModel)]="newEvent.post_date" class="select"></nz-date-picker>
    </div>

    <div class="form-group">
      <label >Date of the event</label>
      <input nz-input [(ngModel)]="newEvent.date" />
    </div>

    <div class="form-group">
      <label>Place</label>
      <input nz-input [(ngModel)]="newEvent.place" />
    </div>

    <div class="form-group">
      <label>Description</label>
      <textarea nz-input [(ngModel)]="newEvent.description"></textarea>
    </div>

    <div class="form-group">
      <label>Caption</label>
      <input nz-input [(ngModel)]="newEvent.caption" />
    </div>
    
    <div class="form-group">
      <label>Link</label>
      <input nz-input [(ngModel)]="newEvent.link" />
    </div>

  </ng-container>

  <ng-template #footer>
    <div class="form-btns">
      <button nz-button nzType="default" (click)="handleCancel()" class="button-75 cancel-btn">Cancel</button>
      <button nz-button nzType="primary" (click)="handleOk()" class="button-75 create-btn">Create</button>
    </div>
</ng-template>

</nz-modal>
