<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Create New Event"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  [nzFooter]="footer">

  <ng-container *nzModalContent>
    <form #eventForm="ngForm">
    <div class="form-group">
      <label>Title <span class="required">*</span></label>
      <input nz-input [(ngModel)]="newEvent.title" required #title="ngModel" name="title" />
      <div class="error" *ngIf="title.invalid && title.touched">
        Title is required
      </div>
    </div>

    <div class="form-group select-content">
      <label class="choicetype">Platforms: <span class="required">*</span></label>

      <div class="checkbox-group" required>
        <label nz-checkbox [(ngModel)]="newEvent.fb_post" name="fb_post"> >
          Facebook post
        </label>

        <label nz-checkbox [(ngModel)]="newEvent.fb_event" name="fb_event">
          Facebook event
        </label>

        <label nz-checkbox [(ngModel)]="newEvent.ig_post" name="ig_post">
          Instagram post
        </label>

        <label nz-checkbox [(ngModel)]="newEvent.ig_story" name="ig_story">
          Instagram story
        </label>

        <!-- FIX IN BACKEND -->
        <label nz-checkbox [(ngModel)]="newEvent.discord_post" name="discord_post">
          Discord
        </label>

        <!--
        <label nz-checkbox [(ngModel)]="newEvent.webpage">
          Web page
        </label>
        -->
      </div>
      <div class="error" *ngIf="!anyPlatformSelected() && formSubmitted">
        At least one platform must be selected
      </div>
    </div>

    <div class="form-group">
      <label >Other platforms:</label>
      <input nz-input [(ngModel)]="newEvent.other_media" name="other_media" />
    </div>

    <div class="form-group select-content">
      <label class="choicetype">Date of the post <span class="required">*</span></label>
      <nz-date-picker [(ngModel)]="newEvent.post_by" class="select" required name="post_by"></nz-date-picker>
    </div>
    <div class="error" *ngIf="!dateOfThePostGiven() && formSubmitted">
        You must specify the date of the post
      </div>

    <div class="form-group">
      <label >Date of the event <span class="required">*</span></label>
      <input nz-input [(ngModel)]="newEvent.due_date" required name="due_date" />
      <div class="error" *ngIf="!eventDateGiven() && formSubmitted">
        You must specify the date of the event
      </div>
    </div>

    <div class="form-group">
      <label>Place <span class="required">*</span> </label>
      <input nz-input [(ngModel)]="newEvent.place" required name="place"/>
      <div class="error" *ngIf="!placeGiven() && formSubmitted">
        Place is required
      </div>
    </div>

    <div class="form-group">
      <label>Description <span class="required">*</span> </label>
      <textarea nz-input [(ngModel)]="newEvent.description" required name="description"></textarea>
      <div class="error" *ngIf="!newEvent.description && formSubmitted">
        Description is required
      </div>
    </div>

    <div class="form-group">
      <label>Caption <span class="required">*</span> </label>
      <input nz-input [(ngModel)]="newEvent.caption" required name="caption" />
      <div class="error" *ngIf="!newEvent.caption && formSubmitted">
        Caption is required
      </div>
    </div>
    
    <div class="form-group">
      <label>Graphics Maker</label>
      <nz-select
        [(ngModel)]="newEvent.graphics_maker"
        nzAllowClear
        nzPlaceHolder="Select graphics maker"
        nzBordered
        style="width: 100%;" 
        name="graphics_maker">
        <nz-option
          *ngFor="let user of users"
          [nzValue]="user.id"
          [nzLabel]="user.name">
        </nz-option>
        <nz-option [nzValue]="null" nzLabel="None"></nz-option>
      </nz-select>
    </div>

    <!-- Text Writer -->
    <div class="form-group">
      <label>Text Writer</label>
      <nz-select
        [(ngModel)]="newEvent.text_writer"
        nzAllowClear
        nzPlaceHolder="Select text writer"
        nzBordered
        style="width: 100%;"
        name="text_writer">
        <nz-option
          *ngFor="let user of users"
          [nzValue]="user.id"
          [nzLabel]="user.name">
        </nz-option>
        <nz-option [nzValue]="null" nzLabel="None"></nz-option>
      </nz-select>
    </div>
    
  </form>
  </ng-container>

  <ng-template #footer>
    <div class="form-btns">
      <button nz-button nzType="default" (click)="handleCancel()" class="button-75 cancel-btn">Cancel</button>
      <button nz-button nzType="primary" (click)="handleOk()" class="button-75 create-btn">Create</button>
    </div>
</ng-template>

</nz-modal>
