<nz-layout class="app-layout">
  <nz-header>
    <div class="logo">
      <a>
        <h1>CONTENT CALENDAR</h1>
      </a>
    </div>
    <!-- Desktop menu -->
    <ul nz-menu class="top-nav desktop-menu" nzTheme="dark" nzMode="horizontal">
      <li nz-menu-item (click)="showTasks()">Tasks</li>
      <li nz-menu-item (click)="showCalendar()">Calendar</li>
      <li nz-menu-item *ngIf="isAdmin()" (click)="openNewEvent()">New event</li>
      <li nz-menu-item *ngIf="isAdmin()" (click)="showUsers()">Manage users</li>
      <li nz-menu-item (click)="showProfile()">Profile</li>
      <li nz-menu-item (click)="logout()">Logout</li>
    </ul>

    <!-- Mobile menu -->
    <div class="mobile-menu" nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
      <span nz-icon [nzType]="'menu'" nzTheme="outline" nzColor="#fff" class="menu-icon"></span>
    </div>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu nzTheme="dark">
        <li nz-menu-item (click)="showTasks()">Tasks</li>
        <li nz-menu-item (click)="showCalendar()">Calendar</li>
        <li nz-menu-item *ngIf="isAdmin()" (click)="openNewEvent()">New event</li>
        <li nz-menu-item *ngIf="isAdmin()" (click)="showUsers()">Manage users</li>
        <li nz-menu-item (click)="showProfile()">Profile</li>
        <li nz-menu-item (click)="logout()">Logout</li>
      </ul>
    </nz-dropdown-menu>

  </nz-header>
  <app-create-event (eventCreated)="addEvent($event)"></app-create-event>
  <nz-content>
    
    <div class="main-comps">


      <div class="left-panel">
        <app-calendar *ngIf="activeLeftView === 'calendar'"></app-calendar>
        <div class="user-tasks-card">
          <app-tasks *ngIf="activeLeftView === 'tasks'"></app-tasks>
        </div>
        <app-users *ngIf="activeLeftView === 'users'"></app-users>
        <app-profile *ngIf="activeLeftView === 'profile'"></app-profile>

      </div>

      <div class="right-panel" *ngIf="!isMobile && activeLeftView !== 'users' && activeLeftView !== 'profile'" >
        <app-details></app-details>
        <!--<app-tasks></app-tasks>-->
      </div>
    </div>


    

  </nz-content>

  
  <nz-drawer
    [nzVisible]="isMobile && detailsOpen"
    nzPlacement="right"
    nzTitle="Details"
    [nzWidth]="'100%'"
    (nzOnClose)="closeDetails()"
  >
    <app-details></app-details>
  </nz-drawer>
  

</nz-layout>


