<div class="profile-card" *ngIf="user">
  <div class="profile-row">
    <div>
      <p class="label">Username</p>
      <p class="value username">{{ user.name }}</p>
    </div>
    
  </div>

  <div class="profile-row">
    <div>
      <p class="label">Email</p>
      <p class="value">{{ user.email }}</p>
    </div>
  </div>
  <button class="button-75 edit-btn" (click)="openEdit()">Edit</button>
</div>

<button class="button-75 change-password-btn" (click)="openChangePassword()">
  Change password
</button>

<nz-modal
  [(nzVisible)]="isEditModalVisible"
  nzTitle="Edit profile"
  [nzFooter]="null"
  (nzOnCancel)="cancelEdit()"
>
<form #editFormRef="ngForm" novalidate>
  <ng-container *nzModalContent>
    <label>Username <span class="required">*</span> </label>
    <input nz-input [(ngModel)]="editForm.name" name="name" required #name="ngModel"/>
    <div class="error" *ngIf="name.invalid && (name.touched || formSubmitted)">
          Name is required
    </div>

    <label>Email <span class="required">*</span></label>
    <input nz-input [(ngModel)]="editForm.email" required name="email" #email="ngModel"/>
    <div class="error" *ngIf="(email.invalid || getEmailError()) && (email.touched || formSubmitted)">
          {{ getEmailError() }}
    </div>
    </ng-container>
    </form>
    <ng-template nzModalFooter>
      <div class="form-btns">
        <button
          class="button-75 cancel-btn"
          type="button"
          (click)="cancelEdit()"
        >
          Cancel
        </button>
        <button
          class="button-75 create-btn"
          type="button"
          (click)="saveEdit()"
        >
          Save
        </button>
      </div>
    </ng-template>
  
  
</nz-modal>

<!-- CHANGE PASSWORD MODAL -->
<nz-modal
  [(nzVisible)]="isPasswordModalVisible"
  nzTitle="Change password"
  [nzFooter]="null"
  (nzOnCancel)="cancelChangePassword()"
>
<form #passwordFormRef="ngForm" novalidate>
  <ng-container *nzModalContent>
    <label>Old password <span class="required">*</span></label>
    <input nz-input type="password" name="old_password" [(ngModel)]="passwordForm.old_password" required #oldPass="ngModel"/>
    <div class="error" *ngIf="oldPass.invalid && (oldPass.touched || formSubmitted)">
        Old password is required
    </div>
    

    <label>New password <span class="required">*</span></label>
    <input nz-input type="password" name="new_password" [(ngModel)]="passwordForm.new_password" required #newPass="ngModel"/>
    <div class="error" *ngIf="newPass.invalid && (newPass.touched || formSubmitted)">
        New password is required
    </div>
    <div class="error" *ngIf="formSubmitted && passwordForm.new_password && passwordForm.new_password.length < 8">
        New password must be at least 8 characters
    </div>
  </ng-container>
  </form>
   <ng-template nzModalFooter>
      <div class="form-btns">
        <button
          class="button-75 cancel-btn"
          type="button"
          (click)="cancelChangePassword()"
        >
          Cancel
        </button>
        <button
          class="button-75 create-btn"
          type="button"
          (click)="changePassword()"
        >
          Change
        </button>
      </div>
    </ng-template>
  
</nz-modal>
