<div class="users-wrapper">
  <button class="button-75 new-btn" (click)="openNewUser()">New User</button>
  <div *ngFor="let user of users" class="user-card" >
    <div class="user-info">
      <div class="name">{{ user.name }}</div>
      <div class="email">{{ user.email }}</div>
      <div class="admin" *ngIf="user.admin">Admin</div>
    </div>

    <div class="user-actions">
      <button class="button-75 admin-btn">Make Admin</button>
      <button class="button-75 edit-btn" (click)="openEditUser(user)">Edit</button>
      <button class="button-75 delete-btn" (click)="confirmDelete(user)">Delete</button>
    </div>
  </div>
</div>

<nz-modal
  [(nzVisible)]="isModalVisible"
  [nzTitle]="isEditMode ? 'Edit User' : 'New User'"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  nzOkText="Save"
>
  <ng-template nzModalContent>
    <div class="modal-form">
        <label>Name</label>
        <input nz-input [(ngModel)]="formUser.name" placeholder="Full name" />

        <label>Email</label>
        <input nz-input [(ngModel)]="formUser.email" placeholder="Email address" />
    </div>
  </ng-template>

</nz-modal>

