.users-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}


.user-info .name {
  font-weight: 600;
  font-size: 16px;
}

.user-info .email {
  color: #888;
  font-size: 13px;
}

.user-info .admin {
  margin-top: 4px;
  color: #1890ff;
  font-weight: 500;
}

.user-card {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 16px;
  border-radius: 8px;
  background: #ffffff;
  border: 1px solid #e0e0e0;

  cursor: pointer;
  transition: box-shadow 0.2s ease, transform 0.1s ease;
}

.user-card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  transform: translateY(-1px);
}

/* THIS is the important part */
.user-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LEFT */
.user-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

/* RIGHT (same role as .task-actions) */
.user-actions {
  display: flex;
  align-items: center;
  gap: 8px;
}


.button-75 {
  align-items: center;
  border: 0;
  border-radius: 10px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-family: "Codec cold",sans-serif;
  font-size: 0.72rem;
  font-weight: 700;
  height: 2rem;
  justify-content: center;
  line-height: 1;
  max-width: 100%;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-75:active {
  outline: 0;
}

.button-75:hover {
  outline: 0;
}

.button-75 span {
  transition: all 200ms;
}

.button-75:hover span {
  transform: scale(.9);
  opacity: .75;
}

@media screen and (max-width: 991px) {
  .button-75 {
    font-size: 15px;
    height: 50px;
  }

  .button-75 span {
    line-height: 50px;
  }
}

.admin-btn {
    background-image: linear-gradient(135deg, #ac2ec5 40%, #ee6ecc);
    
}

.un-admin-btn {
    background-image: linear-gradient(135deg, #484848 40%, #b5b5b5);
}
  
.edit-btn {
    background-image: linear-gradient(135deg, #0061ff 40%, #60efff);
}

.delete-btn {
    background-image: linear-gradient(135deg, #943c22 40%, #e01f2d);
}

.new-btn {
    background-image: linear-gradient(135deg, #5fc52e 40%, #6eee87);
    max-width: 20%;
}



.modal-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

