<div class="users-wrapper">
  <button class="button-75 new-btn" (click)="openNewUser()">New User</button>
  <div *ngFor="let user of users" class="user-card" >
    <div class="user-info">
      <div class="name">{{ user.name }}</div>
      <div class="email">{{ user.email }}</div>
      <div class="admin" *ngIf="user.admin">Admin</div>
    </div>

    <div class="user-actions">
      <button class="button-75" [ngClass]="user.admin ? 'un-admin-btn' : 'admin-btn'" (click)="toggleAdmin(user); $event.stopPropagation()">
        {{ user.admin ? 'Revoke Admin' : 'Make Admin' }}
      </button>

      <button class="button-75 edit-btn" (click)="openEditUser(user)">Edit</button>
      <button class="button-75 delete-btn" (click)="confirmDelete(user)">Delete</button>
    </div>
  </div>
</div>

<nz-modal
  [(nzVisible)]="isModalVisible"
  [nzTitle]="isEditMode ? 'Edit User' : 'New User'"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  nzOkText="Save"
>
  <ng-template nzModalContent>
    <form #userForm="ngForm" novalidate>
    <div class="modal-form">
        <label>Name <span class="required">*</span></label>
        <input nz-input [(ngModel)]="formUser.name" placeholder="Full name" required #name="ngModel" />
        <div class="error" *ngIf="name.invalid && (name.touched || formSubmitted)">
          Name is required
        </div>

        <label>Email <span class="required">*</span></label>
        <input nz-input [(ngModel)]="formUser.email" placeholder="Email address" required #email="ngModel"/>
        <div class="error" *ngIf="(email.invalid || getEmailError()) && (email.touched || formSubmitted)">
          {{ getEmailError() }}
        </div>
    </div>
    </form>
  </ng-template>
  <ng-template #modalFooter>
    <div class="form-btns">
      <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
      <button nz-button nzType="primary" (click)="handleOk()">Save</button>
    </div>
  </ng-template>

</nz-modal>

